<ng-template #customWrapperTemplate>
  <form class="signForm" action="login" *ngIf="!signUpMode">
    <h1>Sign In</h1>
    <app-pinput [label]="'Email'" [type]="'text'" [required]="true" #email></app-pinput>
    <app-pinput [label]="'Password'" [type]="'password'" [required]="true" #password></app-pinput>
    <app-pbtn (click)="authService.SignIn(email.pInput.value, password.pInput.value)" [label]="'Sign in'"
      [type]="'primary'"></app-pbtn>
  </form>
  <span *ngIf="!signUpMode" class="switchPhrase">Not a member yet? <a (click)="signUpMode=true">Sign up</a></span>
  <app-signup *ngIf="signUpMode" style="
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;" />
  <span *ngIf="signUpMode" class="switchPhrase">Already have an account? <a (click)="signUpMode=false">Sign
      in</a></span>
</ng-template>
<app-pcard [pCardTemplate]="customWrapperTemplate"></app-pcard>