<form action="register" class="signForm">
  <h1>Sign Up</h1>
  <app-pinput [label]="'Email'" [type]="'text'" [required]="true" #email></app-pinput>
  <app-pinput [label]="'Username'" [type]="'text'" [required]="true" #displayname></app-pinput>

  <app-pinput [label]="'Password'" [type]="'text'" [required]="true" #password></app-pinput>
  <app-pinput [label]="'Confirm password'" [type]="'text'" [required]="true" #password2></app-pinput>
  <app-pbtn (click)="authService.SignUp(
    email.pInput.value,
    displayname.pInput.value,
    password.pInput.value,
    password2.pInput.value
  )" [label]="'Submit'" [type]="'primary'"></app-pbtn>
</form>