<app-pbtn (click)="showMode = false" [label]="'Add new'" [type]="'primary'" *ngIf="showMode"></app-pbtn>
<div *ngIf="!showMode">
  <form action="addSpot">
    <app-pinput [label]="'Name'" [type]="'text'" [required]="true" #name></app-pinput>
    <app-pinput [label]="'Description'" [type]="'text'" [required]="true" #description></app-pinput>
    <app-pinput [label]="'Material name'" [type]="'text'" [required]="true" #materialName></app-pinput>
    <app-pinput [label]="'Material reference'" [type]="'text'" [required]="true" #materialRef></app-pinput>
    <app-pbtn (click)="addSpot(
    name.pInput.value,
    description.pInput.value,
    materialName.pInput.value,
    materialRef.pInput.value
  )" [label]="'Add Spot'" [type]="'primary'"></app-pbtn>
    <app-pbtn (click)="showMode = true" [label]="'Cancel'" [type]="'danger'" *ngIf="!showMode"></app-pbtn>
  </form>
</div>
<div *ngIf="showMode">
  <ul>
    <li *ngFor="let spot of listSpots">
      <a [routerLink]="['/spot', plantId, spot.key]">{{ spot.name }}{{ spot.key }}</a>
      <div>
        <span> Description: {{ spot.description }} </span>
      </div>
      <div>
        <span> Realtime humidity: {{ spot.realtimeHumd }} </span>
      </div>
      <div>
        <span> Realtime temperature: {{ spot.realtimeTemp }} </span>
      </div>
      <div>
        <span> Realtime luminosity: {{ spot.realtimeLum }} </span>
      </div>
      <div>
        <span> Material name: {{ spot.materialName }} </span>
      </div>
      <div>
        <span> Material reference: {{ spot.materialRef }} </span>
      </div>
    </li>
  </ul>
</div>