.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .infoLabel {
    font-weight: 600;
    color: #2c2c2c;
    margin: 0 2vw 0 0;
  }
  .infoData {
    font-weight: 500;
    color: #000;
  }
}
