<table>
    <tr>
        <th>Date</th>
        <th>Température</th>
        <th>Humidité</th>
        <th>Luminosité</th>
    </tr>
    <!-- next we implement test data on the table -->
    <tr>
        <td>13-02-2023</td>
        <td>24.5</td>
        <td>65</td>
        <td>2217</td>
    </tr>
    <tr>
        <td>13-02-2023</td>
        <td>25</td>
        <td>59</td>
        <td>2014</td>
    </tr>
    <tr>
        <td>13-02-2023</td>
        <td>24</td>
        <td>80</td>
        <td>1951</td>
    </tr>
    <tr>
        <td>13-02-2023</td>
        <td>23</td>
        <td>81</td>
        <td>2148</td>
    </tr>
    <tr>
        <td>13-02-2023</td>
        <td>23.5</td>
        <td>56</td>
        <td>2346</td>
    </tr>
    <tr>
        <td>13-02-2023</td>
        <td>26</td>
        <td>55</td>
        <td>2940</td>
    </tr>
    <tr>
        <td>13-02-2023</td>
        <td>25</td>
        <td>40</td>
        <td>2383</td>
    </tr>
</table>