<app-pbtn (click)="router.navigate(['plantation/', plantId])" [label]="'Plantation'" [type]="'default'"></app-pbtn>
<div class="pageContainer">
  <h2 *ngIf="getLoaded">{{ getSpot.name}}</h2>
  <app-pmenu [label1]="'Overview'" [label2]="'History'" [label3]="'Details'" (selectedMode)="getMode($event)" style="
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;"></app-pmenu>
  <ng-template #customWrapperTemplate>
    <app-spot-history *ngIf="showMode==1"></app-spot-history>
    <div *ngIf="getLoaded">
      <div *ngIf="showMode==2">
        <app-pinfo [label]="'Spot name'" [data]="getSpot.name"></app-pinfo>
        <app-pinfo [label]="'Spot description'" [data]="getSpot.description"></app-pinfo>
        <app-pinfo [label]="'Material name'" [data]="getSpot.materialName"></app-pinfo>
        <app-pinfo [label]="'Material reference'" [data]="getSpot.materialRef"></app-pinfo>
      </div>
      <div *ngIf="showMode==0">
        <div>
          <app-pinfo [label]="'Recommended humidity'" [data]="getSpot.realtimeHumd"></app-pinfo>
          <app-pinfo [label]="'Recommended luminosity'" [data]="getSpot.realtimeLum"></app-pinfo>
          <app-pinfo [label]="'Recommended temperature'" [data]="getSpot.realtimeTemp"></app-pinfo>
        </div>
      </div>
    </div>
  </ng-template>
  <app-pcard [pCardTemplate]="customWrapperTemplate"></app-pcard>
  <!-- <div *ngIf="spotsMode">
  <app-spots [plantId]="id"></app-spots>
</div> -->
</div>