<h2>{{ id }}</h2>
<button type="button" (click)="spotsMode = true" *ngIf="!spotsMode">
  Spots
</button>
<button type="button" (click)="spotsMode = false" *ngIf="spotsMode">
  Details
</button>
<div *ngIf="getLoaded && !spotsMode">
  <div>
    <span>Ref: {{ getPlant?.plantRef }}</span>
  </div>
  <div>
    <span>Plant: {{ getPlant?.name }}</span>
  </div>
  <div>
    <span>Description: {{ getPlant?.description }}</span>
  </div>
  <div>
    <span>Spots count: {{ spotsCount }}</span>
  </div>
  <div>
    <span>Recommended humidity: {{ getPlant?.recommandHumd }}</span>
  </div>
  <div>
    <span>Recommended luminosity: {{ getPlant?.recommandLum }}</span>
  </div>
  <div>
    <span>Recommended temperature: {{ getPlant?.recommandTemp }}</span>
  </div>

  <button (click)="authService.SignOut()">Logout</button>
</div>
<div *ngIf="spotsMode">
  <app-spots [plantId]="id"></app-spots>
</div>
