<app-pbtn (click)="showMode = false" [label]="'Add new'" [type]="'primary'" *ngIf="showMode"></app-pbtn>
<div *ngIf="!showMode">
  <ng-template #customWrapperTemplate>
    <h2>Add new plantation</h2>
    <form action="addPlant" class="addPlantForm">
      <app-pinput [label]="'Name'" [type]="'text'" [required]="true" #name></app-pinput>
      <app-pinput [label]="'Description'" [type]="'text'" [required]="true" #description></app-pinput>
      <app-pinput [label]="'Rec. humidity'" [type]="'text'" [required]="true" #recommendedHumd></app-pinput>
      <app-pinput [label]="'Rec. temperature'" [type]="'text'" [required]="true" #recommendedTemp></app-pinput>
      <app-pinput [label]="'Rec. luminosity'" [type]="'text'" [required]="true" #recommendedLum></app-pinput>
      <div class="addBtnsContainer">
        <app-pbtn (click)="showMode = true" [label]="'Back'" [type]="'danger'" *ngIf="!showMode"></app-pbtn>
        <app-pbtn (click)="addPlantation(
    name.pInput.value,
    description.pInput.value,
    recommendedHumd.pInput.value,
    recommendedTemp.pInput.value,
    recommendedLum.pInput.value
  )" [label]="'Submit'" [type]="'primary'"></app-pbtn>
      </div>

    </form>
  </ng-template>
  <app-pcard [pCardTemplate]="customWrapperTemplate"></app-pcard>
</div>

<ul *ngIf="showMode">

  <li *ngFor="let plantation of listPlantations">
    <ng-template #customWrapperTemplate>
      <h2>{{ plantation.name }}</h2>
      <div class="plantItem">
        <div><span>Description: </span>{{ plantation.description }}</div>
        <div>
          <span>Spots count: </span>{{ listSpotSizes[listPlantations.indexOf(plantation)] || 0 }}
        </div>
        <div class="plantData">
          <span>Humidity: {{ listHumds[listPlantations.indexOf(plantation)] || 0 }}</span>
          <span>Temperature: {{ listTemps[listPlantations.indexOf(plantation)] || 0 }}</span>
          <span>Luminosity: {{ listLums[listPlantations.indexOf(plantation)] || 0 }}</span>
        </div>
        <app-pbtn (click)="viewPlantation(plantation.key)" [label]="'View'" [type]="'default'"></app-pbtn>

      </div>
    </ng-template>
    <app-pcard [pCardTemplate]="customWrapperTemplate"></app-pcard>
  </li>
</ul>